#form_container {
    width: 500px;
    height: 450px;
    background-color: #141414;
    margin: 0 auto;
    border: 1px solid brown;
}
#title {
    width: 100%;
    height: 70px;
    background: brown;
}

.ant-form-item-required {
    color: white !important;
}
.ant-checkbox-wrapper span {
    color: white !important;
}

#title h3 {
    color: white;
    font-size: 28px;
    font-weight: 750;
    padding: 20px 170px;
}
